<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/6/temperature/0/plot" value="false" />
    <add key="/atigpu/6/fan/0/plot" value="false" />
    <add key="/atigpu/6/control/0/plot" value="false" />
    <add key="/atigpu/6/clock/0/plot" value="false" />
    <add key="/atigpu/6/clock/1/plot" value="false" />
    <add key="/atigpu/6/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/f71889ad/voltage/0/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/1/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/2/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/3/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/4/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/5/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/6/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/7/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/8/plot" value="false" />
    <add key="/lpc/f71889ad/temperature/0/plot" value="false" />
    <add key="/lpc/f71889ad/temperature/2/plot" value="false" />
    <add key="/lpc/f71889ad/fan/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEALu1epmfgMkVDwaGKU4LRLOZGMBgilPD8SwIu2GKUz2MDRSf8A7Gnoqd3TAFOxtNL8J8ZL1Tkeya5qRw9yoLjA1Xj2LvNBS9WNlANQAJi8Rz5AAAAA==" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEALu1epmfgMkVD4YX4q4LRLOZGEDgibhrw/EsCPuDuGs9jM0h4TrhHRY2CxJbAoltgcT2QWKbSCDMV0AS/4FkF9DMhTD33EES/4PkNhEkvQ/EEWwBJPEPSOIBEq4AbwfuxvAAAAA=" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD5u0TJeFotlMDEBQJZPpUn88C8y23ZTp0gBlL76T4TLhHYQtkpcJZ89iRLC51BFsWzkE+4wKgr1OOgtu/kOpLLj4jiKEXWdUslwWQN1znRkhbhyPcBtDCkKvMTeC3e+V5TIRyj70FuFmj8RMFwAjl2nA8AAAAA==" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwaGX875Eu91GcDglzMA+ybOuhgAAAA=" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwaGE04Gk1dzMoDBCacJ77KYwMyGowg2ivhhJPZxFDX1x2Hiq5HUHHNqgIkzHHFaIJoNV+/g2cgHYwMA7LswRZAAAAA=" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEALu1epmfgMkVDwYGD6c8ife6DGDg4QQAF5voiBgAAAA=" />
    <add key="/atigpu/6/temperature/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD0aGcqeFotlMDEDAyFDhVH88C8ouc2qAs8udFO5eZYGxJ7zLgqtHsMuQ2Khq6o9jEy9HMr/C6UHcGwEYGwCgWaT9nAAAAA==" />
    <add key="/atigpu/6/fan/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD4YDL1wWimYzMYDAghcu/bUO7DD2hHdZEPEEJDay+AEcbKCa+uNYxB+8cGlAEle4e5UFxoar34HbzIkw9gpUcQCqLynlzAAAAA==" />
    <add key="/atigpu/6/clock/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD/nIXJeFotlMDEDgEZvrMuFdFpgdpJDrkr8AwjaWz3VZAFXzijfXpeE4RHwCWw5cvXF6DlyN+9scuJrXrTlw81975rnUQ8V3uOXC2a9aEWaufYywy6gbIf4wCOG2vrJ8OPtBVB6cXaCIsHfxF4Q5O8xyXQDdZiK38AAAAA==" />
    <add key="/atigpu/6/clock/1/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwaGX8719u91GcDglzMAU1FxGRgAAAA=" />
    <add key="/atigpu/6/voltage/0/values" value="" />
    <add key="/atigpu/6/load/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD4aGY04LRbOZGMDghJN8zmpOGHvCuyyIeMMBpwVIahqOw8T3I+k97lQPF0diI6sHsuHmNBxEEYfbxXAMiX0ChY1QfxzFPQCZGWBxzAAAAA==" />
    <add key="/atigpu/6/control/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwYGC6d8ife6DGBg4QQAmqY3yhgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAMt1cPQXMLniUfLFwGnCuywmBiAo+GrgtFA0G8x+/tnAqf44RLxvGkLc3RohXmiF0LtWHsH+z2Lg1ABVo/VfH66+ZKc+3JzHmQhzNrxA6NVMMIarcbAxgasRyjeBq7EvNYGbr/gBId57HaHXq8nQKW8BRPyQi6ETAIgJlRXwAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAMt1cPQXMLniwXL+ocOEd1lMDEDgduGhw0LRbDA74NxDh/rjEHGjcIT4jkcP4OLLHj6A663bj2CXzH3g0ABVwzQNoZ7P9gHcHCM5hPlMBxBuuPD0CVzNqn9P4Wpa7J/B1aS5P4Obb/IEIa5V9xSul6XlkUPeAqjbTB85AABIlTQY8AAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAMt1cPQXMLnicc6fz3HCuywmBiDQBbIXimaD2RoBfI71xyHi27sR4l+OIsRrjyH0TryOYE97wefYAFXj/wah/qQEP9wc8xUIcf9whN6MIzxwNb/NeeBq+sR54GrmCvPAzTc7yg0Xt65A6PX7yuuYtwDqNhk+RwB1Fj3S8AAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJvOv8xPwOSKR6voU8eFotlMDEBgs1Hdsf54Fpgdrf7NoQHK3ijM7zjhHYTdPlcAzp51gxXOFra+6ABjVyT9h7MP+bHA1WwAmgMzU9h6Klw8Sb0Mbm+SupATzD3C1qJw8WN+EnC9pUlL4XoZGPbB2QlAN8PYYtaaSGpMHAFHiT9h8AAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGt/sdRPwOSKR+0kMaeNNtlMDEAgZB3oWH88C8wWtmZ0bICyNwh7O054B2GXJbFjZd/ovOsAY8+98RLOttooDFfDwKAAN5OBYQFcvDQpHG7vUT8Jp4WiEPfMuyEJFweZA9OrVrYJrlfYeqUjNns75lrAxf//l3cEAHJJTJPwAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJvOv8xPwOSKx9becseFotlMDEDQOdfCsf54FpitXmbk2ABlW28UdpzwDsIWtg6Es/3euMDZNzp5sYoLWzPC2f//y8PNVCvbBBdPVF8Gt1fEWtQJ5p4bnbFw8etANkzvBuHFcL3qZbfg7Lk3JOHs10fs4GwhoJsBIQyyvfAAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJvOv8xPwOSKh4LDOceFotlMDEBgtXGyQ/3xLDD7iJ+OQwOULWR90WHCOwg7Ub0Mzu6cuwPOTkISB5kDY///Px/OnnPjJdxMvzcujjBxYWtGR5i9amW34O650XkX7p4OoF0wvTc6Yx0R9i6Ds0uT2lHsQrhH2BEAzdWuIfAAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJvOv8xPwOSKh+BUPqeFotlMDECwQdjbsf54Fph9o5PXsQHKnnPjpcOEdxD2ET8dRxj7RudduLiw9UU4O1H9G1b1ZUnscDP//58PF597Yybc3nk3dOHuAZkPE7feKAzXC7QLrjdB/RySOZJwdtdcCzgb5C8AiEPxvPAAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwNDgNNC0WwmBjBwcao/ngVlOzs1wNkuThPeYWM7I7FdcahBZnsjmemHJO6FZG8Ikns8kcTdkfSGIukNRTEHO9vZCQA2xJjk8AAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwODldNC0WwmBjAwc6o/ngVlazs1wNm6ThPewdh6SGxtJLYOEWqMkMy0RhI3QbLXBck9RkjiJkh6nZH0uiCxrZDYtihuAwA27TXy8AAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwNDsNNC0WwmBjDwd6o/ngVluzk1wNmeThPewdjuSGwvHGwPHOpDkMz0QxIPQrI3Csk9nkjifkh6w5H0RiCxA1HsQrA9nQBNYGjG8AAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwNDlNNC0WwmBjDwcao/ngVlezg1wNmeThPewdheSGw3JLYrDrYHEjsIyUw/JPEwJHsTkNzjhSTui6Q3HElvDBI7EImNbL6nEwDqe2+w8AAAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwNDtNNC0WwmBjDwd6o/ngVlezo1wNneThPewdheTgp3r7LA2AhxDyS2JxI7DMkcfyTxCCS7EpHc4IUk7o+kNxpJbxwSOwiJHYLiTgDHFQGY5AAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEALu1epmfgMkVjz+MJ5wWiGYzMQABF5Bt79nIB2NPeJcFFudBYoPEG45D2Nxo4vXHEeyFUDN50MQNJq/mRDcfZA4AoZDqa5AAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFthtsxPwOSKh5tig+tC0WwmBiBYpdDg+q/vKguMPeFdFlh8NZA9EcpGFkdXA2OvQVNTfxxTDYjdcByhZgHUDejiyHoddq3mhLEB6qVg3MAAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANsZu8xPwOSKh5tig+sC0WwmBiBYpdDg+r/vKguMPeFdFlh8NRJ7FQ42spo1aGoajmOqAbHrjyPULIS6AV0cWa/DrtWcMDYAWyLa6MAAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEADvZssxPwOSKh5tig+tC0WwmBiBYpdDg+r/vKguMPeFdFlh8NRJ7FQ42spo1aGrqj2OqAbEbjiPULIC6AV0cWa/DrtWcMDYA8as+3sAAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEALu1epmfgMkVDzfFBtcFotlMDECwSqHB9X/fVRYYe8K7LLD4aiT2KhxsZDVr0NQ0HMdUA2LXH0eoWQh1A7o4sl6HXas5YWwAwSILU8AAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALu1epmfgMkVj4UhrE4LRLOZGIDg8/ZHjg3Hs8DsX/fuO9ZD2Y/+3HGc8A7C3lH+AMHedw/O5he7BWc/1boLZ7tyI9gVq57Azf/96gdc/EH1B7hdm7qFnBZC3dP37xFc/JDEY7heh9kIvX56rE4wNh/zI7j46rcv4Gym1KeOACTZIOPwAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALu1epmfgMkVD6FLNx0XiGYzMQCB181Njg3Hs8BsIaENjvVQ9myDtY4T3kHYEqs3wNkOTOvh7LTMVXC2WBFCvVE8gv1+4xa4+bOdTsDFn3kcgNt1hPez40Koe35+3gQXn6qxGa73zqfjcL0dPjfhbD+uTXD2i8074OyQmVsdASaWKArwAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALu1epmfgMkVDwYgyJN4r8sABQCBs6uHGAAAAA==" />
    <add key="/lpc/f71889ad/voltage/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFo+11oMOEd1lMDEBQkhHosEA0G8yekRfk0HAcIg5SAxP/tzIQLv53JUIvSA3/tqssMDZMzUygOQuR9NZDxQV0g1DsxabmlRrC/MSnAXAzQeqR7YW5DeSe/AUItwEACCSoG+QAAAA=" />
    <add key="/lpc/f71889ad/voltage/1/values" value="H4sIAAAAAAAEANNe4uAvYHLFI3Nir/2Ed1lMDEAAYi8QzQazP13qtVe4e5UFxm44jlADUw8Sh7FZw/rs66FqakT6UNQvRDITpgZZ7wN/4tRgcwNIHOZmkHj+Aoh4NdANADZJ8ujkAAAA" />
    <add key="/lpc/f71889ad/voltage/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="/lpc/f71889ad/voltage/3/values" value="H4sIAAAAAAAEANNe4uAvYHLFo86+1H7CuywmBiCIsCyxXyCaDWZPOFRq33AcIg5SAxPP2VMCFwexYXqRzQGx66FqkM3JBqpfCDUHxK7HYo7btmK4GmRzspHUgNzZgGQ+st4FSObnL0C4BwD19tpc8AAAAA==" />
    <add key="/lpc/f71889ad/voltage/4/values" value="H4sIAAAAAAAEANNe4uAvYHLFo+VAl/2Ed1lMDEDAy9Rtv0A0G85uOA4Rn+aMEOdBEgexYXpBapDN+d93lQXGXgjVC1LDvw0iDmLDxEFuqMdiJkgcZhcvml0LkMzMX4BQAwCYOiJ02AAAAA==" />
    <add key="/lpc/f71889ad/voltage/5/values" value="H4sIAAAAAAAEANNe4uAvYHLFQ7jZwT5P4r0uAxCA2AC2SiRsGAAAAA==" />
    <add key="/lpc/f71889ad/voltage/6/values" value="H4sIAAAAAAAEANNe4uAvYHLFQ/9ui/2Ed1lMDECwU67VfoFoNpzdcBwiDlKDSxxZLzK7HqrGAKgGph4kvhBqDkhvPZL4htMO7OjmIOs1wOPO/AUI9wAABd6STdgAAAA=" />
    <add key="/lpc/f71889ad/voltage/7/values" value="H4sIAAAAAAAEANNe4uAvYHLF48L3YAcDlmssDEAAYjccz2ICsd23BTssEM1mgok7eDbywdj1SGomvMuCqzlv/kYAxgYAimv7T2AAAAA=" />
    <add key="/lpc/f71889ad/voltage/8/values" value="H4sIAAAAAAAEANNe4uAvYHLF48vfEIc8ife6DEAAYgMAjI0HBhgAAAA=" />
    <add key="/lpc/f71889ad/temperature/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFg4Eh2mnCuywmBjDwdFogmg1lezg1HIeJeyOJeyGJeyLp9XDi33aVBVOvr9NCuF4/p3okcYTeGCQ1njjU+CGZGYIk7oXkNn+n/AUIcQAenpTh5AAAAA==" />
    <add key="/lpc/f71889ad/temperature/1/values" value="" />
    <add key="/lpc/f71889ad/temperature/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFg4FBwylP4r0uAxhoOAEAe2YinBgAAAA=" />
    <add key="/lpc/f71889ad/fan/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFw9qty9WA5RoLAxCA2A3Hs5hAbBOdLtcFotlgto4QQhykZsI7CDsJiZ2V0OVaj6QGpl4XqHch1ByQeD0Wc3SQ1IDUY1Oj+qMTxW3I9iK7M38BRDwTKA4A9O/GqOQAAAA=" />
    <add key="/lpc/f71889ad/fan/1/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="/lpc/f71889ad/fan/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>