<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/6/temperature/0/plot" value="false" />
    <add key="/atigpu/6/fan/0/plot" value="false" />
    <add key="/atigpu/6/control/0/plot" value="false" />
    <add key="/atigpu/6/clock/0/plot" value="false" />
    <add key="/atigpu/6/clock/1/plot" value="false" />
    <add key="/atigpu/6/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/f71889ad/voltage/0/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/1/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/2/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/3/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/4/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/5/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/6/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/7/plot" value="false" />
    <add key="/lpc/f71889ad/voltage/8/plot" value="false" />
    <add key="/lpc/f71889ad/temperature/0/plot" value="false" />
    <add key="/lpc/f71889ad/temperature/2/plot" value="false" />
    <add key="/lpc/f71889ad/fan/0/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEANt+xC3FYM0VDwaGA/+LKtrMGIBgwtUNTgD5BPw6GAAAAA==" />
    <add key="/lpc/f71889f/voltage/2/plot" value="false" />
    <add key="/lpc/f71889f/voltage/1/plot" value="false" />
    <add key="/lpc/f71889f/voltage/0/plot" value="false" />
    <add key="/lpc/f71889f/voltage/8/plot" value="false" />
    <add key="/lpc/f71889f/voltage/7/plot" value="false" />
    <add key="/lpc/f71889f/voltage/6/plot" value="false" />
    <add key="/lpc/f71889f/voltage/5/plot" value="false" />
    <add key="/lpc/f71889f/voltage/4/plot" value="false" />
    <add key="/lpc/f71889f/voltage/3/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/6/temperature/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD0aGcqeFotlMDEDAyFDhVH88C8ouc2qAs8udFO5eZYGxJ7zLgqtHsMuQ2Khq6o9jEy9HMr/C6UHcGwEYGwCgWaT9nAAAAA==" />
    <add key="/atigpu/6/fan/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD4YDL1wWimYzMYDAghcu/bUO7DD2hHdZEPEEJDay+AEcbKCa+uNYxB+8cGlAEle4e5UFxoar34HbzIkw9gpUcQCqLynlzAAAAA==" />
    <add key="/atigpu/6/clock/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD/nIXJeFotlMDEDgEZvrMuFdFpgdpJDrkr8AwjaWz3VZAFXzijfXpeE4RHwCWw5cvXF6DlyN+9scuJrXrTlw81975rnUQ8V3uOXC2a9aEWaufYywy6gbIf4wCOG2vrJ8OPtBVB6cXaCIsHfxF4Q5O8xyXQDdZiK38AAAAA==" />
    <add key="/atigpu/6/clock/1/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwaGX8719u91GcDglzMAU1FxGRgAAAA=" />
    <add key="/atigpu/6/voltage/0/values" value="" />
    <add key="/atigpu/6/load/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVD4aGY04LRbOZGMDghJN8zmpOGHvCuyyIeMMBpwVIahqOw8T3I+k97lQPF0diI6sHsuHmNBxEEYfbxXAMiX0ChY1QfxzFPQCZGWBxzAAAAA==" />
    <add key="/atigpu/6/control/0/values" value="H4sIAAAAAAAEAHt1aZmfgMkVDwYGC6d8ife6DGBg4QQAmqY3yhgAAAA=" />
    <add key="/lpc/f71889f/temperature/2/plot" value="false" />
    <add key="/lpc/f71889f/temperature/1/plot" value="false" />
    <add key="/lpc/f71889f/temperature/0/plot" value="false" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANNXm5dssOaKBwPDgf+zAtqZGIBgz87lDvXHs8DsN0IrHCa+g7LZVzhMgLLP/EWouZe5DC7OV7vMYaFoNpjt1LAMrmbfo6Vw8RSbZQ75CyDiB64j9D7au8LBbU4OmO0gscbhlkMmmL0tZA1cTdyN1XAzNQpWw8WrslfB2fPCEewmoHgDVH2fykq4+C6npXC2lQGCvU4ZwV5TsdzhUDLEzV5sqxx8gyDiSbEIN8+QWOIAANwHpUVEAQAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALuTNDfZYM0VDwaGA//fCncwMQCBKU+zU/3xLDD7SWCz08R3ELavZ7PTBCg72RGh5hRrE1z8hEiT00LRbDDbQ7wJrsZsTiNc3OlRo1P+Aoj4kmiE3orrzU5uc3LAbMWyNqdbDplgdtzSNrgac5c2uJmnP7XCxeXUEexZ4gi2KlC8Aap+g3oLXNxAvhHO3iOAYL9jQ7DjbzY5HUqGuJn/RouTbxBEnOMPQo2DWYMTAMt0Uo9EAQAA" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEANNZuC7ZYM0VDwaGA/9/St5hZACDEqd9HQU2MDYAy+6obCQAAAA=" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEANNZuC7ZYM0VDwaGA/+5HO8wMoBBn2P98SwmBij4ciMbyrZw1GFBiDfA1TxwWCAKU1PgEH44B8pWcTwpmQll+zguhKvhcYyrhOntcjyUDBM3QRI/4TDhHYzd5Ihgszgi7E1wQOg1cMhbgM1tDXYIvS1I/upAMp/BHonNgGA72CPbhRBvQGInOAAAg8yob0QBAAA=" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAOMOXpdssOaKBwPDgf/a/XcYGYAgPS3NvnjBNRYYW4cliwnEPnumx77hOIRtYlxsv0A0mwmmRj5nNSeMfSg5G64mrhKhfsI7CJuBoQHOBonDzATpddiFMKf+OKZekDg2Nro5yOLIbACrqRy38AAAAA==" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAPutvS7ZYM0VDwaGA/+tt91hZAADMefiBddYYGwdliwmCLvKpeE4lO2w1XmBaDYTTI18zmpOGPtQcjZcTVwlQv2Ed1D2AX4XOBsoDjcTqNdhF8Kc+uNY9ALFsbLRzEEWR2YDAGSTnhnwAAAA" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAHvFsi7ZYM0VDwaGA/997t5hZACDE07FC66xwNg6LFlMELaHS8NxKLuh03mBaDYTTI18zmpOGPtQMkxc3zmuMgvOnvAOxq5CYus7w80E6nXYhTCn/jg2vSecsLNRzUEWR2YDAKcOwW/wAAAA" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEALt1d22ywZorHgwMB/4DAEsdzzIMAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEALt1d22ywZorHgwMB/57373DyAACDTxO9cezmMBsBl6nLzeymWDiuiwwcSEkNYJOC0Vhavidwg/nQMX5nE5KZsLFF8DUMPA7xVdC9TbwOR1MRuiFizMIOE14hzAfmY2wl9/pEJLe/AUIcWQ1CL18Tg3HEfbCxRt4UdQgs5HNUbh7lQXGBgCVyTHpOAEAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJvOv8xPwOSKBwNDtNNC0WwmBjDwd6o/ngVlezo1wNneThPewdheTgp3r7LA2AhxDyS2JxI7DMkcfyTxCCS7EpHc4IUk7o+kNxpJbxwSOwiJHYLiTgDHFQGY5AAAAA==" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAPubpZZisOaKBwPDgf/cLcvMGIBAPnqNEwD5MER8GAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEANv35kLUuqVXPBgYDvyXbv1sygAGPE7zqzU3M0LZPy+2ekDE+Z2EsjqgbF4njR+r4ezbl+I9YHpF1wpMhLE5f8L08jkJw/UCxWU04OYjxAWcctmLOligbC4kvQg38DnVcrXD1e++Z+7CBGUjxPmc+gzb4XbxTzUp54GyZW53wdXkZnNNxFTPi+Keq+urfPih7JKZLVj8guw2HqdZuVNvwtjI7kE2c0XJ+t+MGG4WRHKDiFMRD/t3ESgboVcYSY0wkl4RFPFSuDuFkOILaO8b7c0we0uQ1CDCWcCpJlQylBvKRpgp5CS3bNpNGLsOKfyZTnNPhLER4kIofukx7VnFCmUDABsENZZwAgAA" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAON4f2aWwZorHgwMIk4AQJG6pgwAAAA=" />
    <add key="/lpc/f71889f/fan/2/plot" value="false" />
    <add key="/lpc/f71889f/fan/0/plot" value="false" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALu1epmfgMkVj4UhrE4LRLOZGIDg8/ZHjg3Hs8DsX/fuO9ZD2Y/+3HGc8A7C3lH+AMHedw/O5he7BWc/1boLZ7tyI9gVq57Azf/96gdc/EH1B7hdm7qFnBZC3dP37xFc/JDEY7heh9kIvX56rE4wNh/zI7j46rcv4Gym1KeOACTZIOPwAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALu1epmfgMkVD6FLNx0XiGYzMQCB181Njg3Hs8BsIaENjvVQ9myDtY4T3kHYEqs3wNkOTOvh7LTMVXC2WBFCvVE8gv1+4xa4+bOdTsDFn3kcgNt1hPez40Koe35+3gQXn6qxGa73zqfjcL0dPjfhbD+uTXD2i8074OyQmVsdASaWKArwAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALu1epmfgMkVDwYgyJN4r8sABQCBs6uHGAAAAA==" />
    <add key="/lpc/f71889ad/voltage/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFo+11oMOEd1lMDEBQkhHosEA0G8yekRfk0HAcIg5SAxP/tzIQLv53JUIvSA3/tqssMDZMzUygOQuR9NZDxQV0g1DsxabmlRrC/MSnAXAzQeqR7YW5DeSe/AUItwEACCSoG+QAAAA=" />
    <add key="/lpc/f71889ad/voltage/1/values" value="H4sIAAAAAAAEANNe4uAvYHLFI3Nir/2Ed1lMDEAAYi8QzQazP13qtVe4e5UFxm44jlADUw8Sh7FZw/rs66FqakT6UNQvRDITpgZZ7wN/4tRgcwNIHOZmkHj+Aoh4NdANADZJ8ujkAAAA" />
    <add key="/lpc/f71889ad/voltage/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="/lpc/f71889ad/voltage/3/values" value="H4sIAAAAAAAEANNe4uAvYHLFo86+1H7CuywmBiCIsCyxXyCaDWZPOFRq33AcIg5SAxPP2VMCFwexYXqRzQGx66FqkM3JBqpfCDUHxK7HYo7btmK4GmRzspHUgNzZgGQ+st4FSObnL0C4BwD19tpc8AAAAA==" />
    <add key="/lpc/f71889ad/voltage/4/values" value="H4sIAAAAAAAEANNe4uAvYHLFo+VAl/2Ed1lMDEDAy9Rtv0A0G85uOA4Rn+aMEOdBEgexYXpBapDN+d93lQXGXgjVC1LDvw0iDmLDxEFuqMdiJkgcZhcvml0LkMzMX4BQAwCYOiJ02AAAAA==" />
    <add key="/lpc/f71889ad/voltage/5/values" value="H4sIAAAAAAAEANNe4uAvYHLFQ7jZwT5P4r0uAxCA2AC2SiRsGAAAAA==" />
    <add key="/lpc/f71889ad/voltage/6/values" value="H4sIAAAAAAAEANNe4uAvYHLFQ/9ui/2Ed1lMDECwU67VfoFoNpzdcBwiDlKDSxxZLzK7HqrGAKgGph4kvhBqDkhvPZL4htMO7OjmIOs1wOPO/AUI9wAABd6STdgAAAA=" />
    <add key="/lpc/f71889ad/voltage/7/values" value="H4sIAAAAAAAEANNe4uAvYHLF48L3YAcDlmssDEAAYjccz2ICsd23BTssEM1mgok7eDbywdj1SGomvMuCqzlv/kYAxgYAimv7T2AAAAA=" />
    <add key="/lpc/f71889ad/voltage/8/values" value="H4sIAAAAAAAEANNe4uAvYHLF48vfEIc8ife6DEAAYgMAjI0HBhgAAAA=" />
    <add key="/lpc/f71889ad/temperature/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFg4Eh2mnCuywmBjDwdFogmg1lezg1HIeJeyOJeyGJeyLp9XDi33aVBVOvr9NCuF4/p3okcYTeGCQ1njjU+CGZGYIk7oXkNn+n/AUIcQAenpTh5AAAAA==" />
    <add key="/lpc/f71889ad/temperature/1/values" value="" />
    <add key="/lpc/f71889ad/temperature/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFg4FBwylP4r0uAxhoOAEAe2YinBgAAAA=" />
    <add key="/lpc/f71889ad/fan/0/values" value="H4sIAAAAAAAEANNe4uAvYHLFw9qty9WA5RoLAxCA2A3Hs5hAbBOdLtcFotlgto4QQhykZsI7CDsJiZ2V0OVaj6QGpl4XqHch1ByQeD0Wc3SQ1IDUY1Oj+qMTxW3I9iK7M38BRDwTKA4A9O/GqOQAAAA=" />
    <add key="/lpc/f71889ad/fan/1/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="/lpc/f71889ad/fan/2/values" value="H4sIAAAAAAAEANNe4uAvYHLFgwEI8iTe6zJAAQBjqkF6GAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACs8NC/ZYM0VDwaGA/8jtrQxMQBBRoOBQ/3xLDCb45y+w8R3UPYTfYcJULbHD324GhUFY7j4kZ9GDgtFs8HsmM9GcDUpeiZwcYlqY4f8BRDxBBcjuF6ZCj0Htzk5EPHD6g63HDLB7BIvdbgaFWcNuJkThDXh4m9ktOHsJS4I9h2geANU/ZFVunDxnDxTBHsygt2yBsHuYDJ0OJQMcbPPc20H3yCoOy0R/t1wyNwBAO/KGtxEAQAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAIsxqU42WHPFg4HhwP/2V3xMDECgv7bdqf54Fpg994aI00LRbDD7///3jjBxIetKxwYo22ajv+MCqJpDfg5wcb83BnDxI34ZjhPeQcTVyuY55i+AsEWsfzrCzH9zZBXcfPWyKXD1KmU/4GzrjXPh5h/yk4CLVyX9d4Cx/YH2wthvjkyDix/3Y4Gbf8Tvj8NEqPhRvytwNUf8WhwQevc5IsLB2wkmLmStCTff742MIwAK5T1fRAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFv3vTrZYM0VDwaGA/9N1fmYGIDgY81Mp/rjWWD23BusTgtFs8HsN0eY4OI3Orc6NkDZfm/mOC6Aqpl7IxMu/u9/PpL4TMcJ72BmHnTMX5AFNfOZI8x8tbJNjjDzj/jVwNUnqp+DsxkYCuDmH/Fb4wAT75q7A85OUv8GZ1tvFIaz59x46QAzX9ia0XHiOxj7IpLeMgeEXQvg7vF7w+GEbA6MLQI0BwCLRW6ERAEAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPs4uSbZYM0VDwaGA/8/dfEyMQDBvahmp/rjWWD2ET8Jp4Wi2WD2jc6tjjDxOTckHRugbGFrRscFUDVJ6mpw8ST1bw4w8bIkdscJ72Bm1jjmL4Cw//1/7wgzn4FhAdz80qR2uPr//7mdEHqvwM232igMVyNifdEBxp4LdBuMDTTTgX/bVRYYeyJU3P/NEbh6vzcuDgjz/8DdoFHWBbf39RE7JPfIOwIAISww1jgBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADM2qE02WHPFg4HhwP8N73iYGIDgmHesU/3xLDCbgUHBaaFoNpg994YkXNxqY7JjA5R9xE/HcQFUjYg1I1w8SV0NLi5kHeg44R1EvCyp3TF/AYT95ggT3Pwk9WWOMPPfHJkGVy9ifRHORrZXvcwILq6BxC4Fmg9jMzAscICxO+dawM2/0XnXYSLcPexw9f//z4ern3MjE64e5HeY+I1OXrj6RPUyBwDWL7avRAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEACs9U5tssOaKBwPDgf95QTxMDEDAYz7Zqf54FpgtYi3qtFA0G8wWtr7oCBM/4lfj2ABllyaFOy6Aqvn3Px8url5mBBdXL+tynPAOIq5WtskxfwHMHBa4+SBxmPk3OrfC1QsD3QBjd8zdATff740LXE1ZEjuc/f+/PJwtZH3RAca22igMN79zroXjxHcwN6xBUjMZzp5z4yVcvdXGcieEmmS4+SB/AQD3/kSHRAEAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHse0Z9ssOaKBwPDgf9/jv5iZACDQqf641lMEHaG0+WubDjbNwgmHuvUcBzBXiAKUxONQzzOacI7mHi8U/4CGDvVaSFcTRKSvbFI6pOQ2AlI5scgiUcisSNwiEcimR/lNBGr+nAkdgqS+mwk8WgkdpQTAI2/3LZEAQAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPN2npBssOaKBwPDgf8zbv9kZAADF6f641lMELaV0+WubCjbzMk3CCau7dQAV6PjtEA0G4u4HpK4rtOEdzBxfaf8BTC2idNCuBojJHsNkNSbILENUMxHiGshmaOBZI6mE/+2qyww9kS4eg0kvepIbHMkvc5I4toodgEAuHNDrjgBAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAKvZMSHZYM0VDwaGA//T034yMoBBtlP98SwmCDvF6XJXNpSd6OQbBBMPdWqAqwlxWiCaDWcfSoaxw5ziKmFqgp0mvEPozV8AY8c5LYTrjUayNwpJfQwSOwrJ3nAUMxciuQFhTqAT/7arLDD2RLj6ICS9AUjsSCS9mUjiEUjsYCcAkqqvhjgBAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANsfMjHZYM0VDwaGA/9VTv1gZACDEKf641lMELa/0+WubDjbNwgm7uHUcBzBXiAKU+PqxMKQAxeXuZsJZbs7LYSrcXOKq4Tp9XE6lAwT90YS93Ka8C4LLo5ge6HYi9Dr5pS/ACbuguR+FyS9bkji7k4T32FT44zE9kRSH4hiDoLt6gQACKhb40QBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANsfMjHZYM0VDwaGA//T0n4yMgDB/NXLnNcmFtjA2AAhZlCEJAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPtwcmKywZorHgwMB/4z1/xgZAACoUZr14bjWUww9qWubDD7zwNtV78giHge4y+Xh+fFeGDsuEqI+BMHGddDydlwNkz83AIe1wnvIOzfQHOQ2fXHEWY+iHsjAGMjq0F2D0wcWQ2IDQDxQR4BzAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFOyn5RssOaKBwPDgf+PdH8wMgCBUKO1a/3xLCYY+3JXNpj954G2q28QRDyP8ZeL6l1Hdhhb5m4mWFzEjMl1gShE/bkFPK5xlRD1TxxkXA8lI8TjoeIg9oR3EPZvoPnIbJgbQOY/iHsjAGNjUwNyJ0wcWQ2IDQAF2A6b5AAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAAvZMinZYM0VDwaGA/8P3P/OyAAEQo3Wrg3Hs5hg7Etd2WB2pJihq18QRDyP8ZeLw67VnDD2QlGImnMLeFzjKiFqnjjIuB5Kxi6ucPcqC4wNswtkzv24NwIw9oR3EPHfD7RR3AMTR1YjYsbkCgDUuKiAzAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJsWMDnZYM0VDwaGA//7s74zMgCBUKO1a/3xLCYY+3JXNpgdKWbo6hcEEc9j/OWicPcqC4wdfjgHLH5uAY/rSclMuJoFotlw8fhKiN4nDjKuB5Oz4Wpg4iA1E94h1MDYvx9ow90DUv8g7o0AjI1NDcjNMHFkNSA2AJK7XSDwAAAA" />
    <add key="/lpc/f71889f/voltage/0/values" value="H4sIAAAAAAAEANsy1SDZYM0VDwaGA/8PyX5hYgCCDrFIhwONYjww9gLRbLC4YESkQ8PxLLia/UhqJrzLwqoGJo7MnjUTwVa+HelQfxyhF9mciQT0gsSx6UVXAwBF7ZAT5AAAAA==" />
    <add key="/lpc/f71889f/voltage/1/values" value="H4sIAAAAAAAEAGOPNEw2WHPFg4HhwP/8qM9MDEAQYTnFfsK7LDA7ew+CPSNvEpztlzTBvuE4hH1UYQKK+ALRbDA74SlCDYgNE3+lNtE+fwFEnE8XYeb1xQhzQOphbGT3gPTCzASxYeJtryeiqEE2sx6q/gaS+SDxiVjsRVYD8jtM796SyVjdCfIvAFnxJoNEAQAA" />
    <add key="/lpc/f71889f/voltage/2/values" value="H4sIAAAAAAAEANNYbphssOaKBwPDgf9+PJ+ZGIBgt2ePvcLdqyww9oR3WWDxFce67RuOZ8HV3I97I4BNDYwNEu/fySQLYwMACPLc+mwAAAA=" />
    <add key="/lpc/f71889f/voltage/3/values" value="H4sIAAAAAAAEANNYbphssOaKBwPDgf9+PJ+ZGIDg1rlye/5P06Vg7AnvssDiJ7wRbJB4/04mWRgbAGuNXDhIAAAA" />
    <add key="/lpc/f71889f/voltage/4/values" value="H4sIAAAAAAAEAPP8aphssOaKBwPDgf+6+z4xMQCBWZyV/XuRQ6Iw9oR3WWBxwQhLOFvlNoIthCbecBxTDcgchbtXWWDseqga5duoeiciqd/fKMYDYwMAsW5ijKgAAAA=" />
    <add key="/lpc/f71889f/voltage/5/values" value="H4sIAAAAAAAEAJuzwyjZYM0VDwaGA/9v/frIxAAE7I2i9vs6CmxgbABymckTJAAAAA==" />
    <add key="/lpc/f71889f/voltage/6/values" value="H4sIAAAAAAAEAFtz3yjZYM0VDwaGA/9PXf7IxAAEmRPf2k14l4XB/lX3CkW84TiE7dL9Bi6u0PraboFoNlw9TA2yOEh9/gLsemFsZHFke0FqsNmLyxyQO+uxqAeZORGLXnRz6o9jNxOZDQDrJ73yRAEAAA==" />
    <add key="/lpc/f71889f/voltage/7/values" value="H4sIAAAAAAAEADuna5xssOaKBwPDgf8rWj8yMQCBWVyUw4R3WWD2JaVoONvzIUJ8rUyUQ8NxTDUeQDULRLPh4jA1yOIgdv4CiPiB+Qgz9yOxPdDsQhZHtnfDaQd2GLv+OKY7QeKKd6+yoLsTZBdMPbIbkNWAxAH01eIiIAEAAA==" />
    <add key="/lpc/f71889f/voltage/8/values" value="H4sIAAAAAAAEAHtfbZxssOaKBwPDgf/t5h+ZGIBAQDfIYcK7LDB7Rh6CrbQBwW57HejQcBzCXv0RIQ5iLxDNhquHqZmZhxAHqfnfd5UFXS+6+chmGkxezQlj1x/HVA8SV7yLaSbI/fVIbkBWj8wGAP2IGosIAQAA" />
    <add key="/lpc/f71889f/temperature/0/values" value="H4sIAAAAAAAEAAtKM0k2WHPFg4HhwH8V3w9MDGDA4zThXRaUzYHEZkdi/3FsOA5j/3NEiP9wXCCaDWcj1PxCEv/lmL8Am94/SOxfSGxGJHsZnJDNRLY3oKCRD8ZGVl8PV8+FZA6qmwFQAe7sCAEAAA==" />
    <add key="/lpc/f71889f/temperature/1/values" value="H4sIAAAAAAAEAEvuNUk2WHPFg4HhwH9htQ9MDGBg6jThXRaUbYGDbe7UcBzGNkESN3ZaIJoNZRs4rY8S44GxEWoMkdgmSOYgq0Fm6yKxdZz4t11lgbEnwsU1kdRoILE1nerh5hvhMN/ACQDU9QyPCAEAAA==" />
    <add key="/lpc/f71889f/temperature/2/values" value="H4sIAAAAAAAEACveYpJssOaKBwPDgf/M/98zMYDBC8d9HQU2MDYAHwJiqiQAAAA=" />
    <add key="/lpc/f71889f/fan/0/values" value="H4sIAAAAAAAEAOMUMUs2WHPFg4HhwP/c+e+YGIDgvMFnlwnvssBsu1UItgMSG6Sm4TiEfaQRVc0C0WwwO+s3Qs0Zny9wcZD6/AXY9cLYXpEI9q5LqO6BmYmsHtkcZL0g9fXHEeYo3r3Kgm6mlMoXFLtg6o/iMBMkDgDlLu/tOAEAAA==" />
    <add key="/lpc/f71889f/fan/1/values" value="H4sIAAAAAAAEAOMUMUs2WHPFg4HhwP/c+e+YGKBgX0eBDYwNABQeG0UkAAAA" />
    <add key="/lpc/f71889f/fan/2/values" value="H4sIAAAAAAAEAIu+bpZssOaKBwPDgf/Sd94yMQDBuS8NLhPeZYHZLDcb4ex5UxDsjA0NLg3HEWyYOM/xBpcFotlgNueHRria4tWNcHGelw0u+Qsg4pN/I8zUsUSwF+oi2G1PEOyNdxH27tqNsPfKTAS7qw/B3n+pwaUeqt6gFmGOKNAvE6FsrtUI8X8HEWyQOExv9EuEmXGXGlDcAwB/kgd7RAEAAA==" />
  </appSettings>
</configuration>