@import './fonts/neris/neris.css';
@import './common/flex-grid.scss';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Neris', 'Helvetica', 'Arial';
  background-color: #292929;
  color: #fff;
}

.center {
  text-align: center;
}
